
.pricing-item-price-amount {
    color:#cc6c2c;
}
.pricing-item {
    color: #546c0c;
}
.button {
    background-color: #e9ba38;
}

.backImage {
    background-image: url('../assets/img/background.jpg');
    background-size: contain;
    width: fit-content;
    height: 100%;
}